$background-primary: #181818;
$background-secondary: #1d1d1d;
$background-tertiary: #181818;
$background-text-area: #292929;
$background-floating: #1f1f1f;

$scrollbar-auto-track: rgb(41, 41, 41);
$scrollbar-auto-thumb: rgb(77, 77, 77);
$container-hover: rgb(58, 58, 58);
$container-active: rgb(83, 83, 83);
$container-avatar: rgb(39, 39, 39);
$layout-selected: rgba(79, 84, 92, 0.32);
$searchBar-hover: rgb(58, 58, 58);
$searchBar-open: rgb(58, 58, 58);
$scroller: rgb(34, 34, 34);
$spoilerText: rgb(39, 39, 39);
$spoilerText-hover: rgb(54, 54, 54);
$uploadModal: #1f1f1f;
$footer: #292929;
$selected-hover: #303030;
$selected-active: #4b4b4b;
$expandedFolder: #2b2b2b;
$closedFolder: #2b2b2b;
$closedFolderIconWrapper: #424242;
$peopleList: #272727;
$actionButton-hover: rgb(70, 70, 70);
$feature-hover: rgb(58, 58, 58);
$childWrapper: #303030;
$searchBarCom-hover: rgb(51, 51, 51);
$expandedFolderIcon: #2b2b2b;
$expandedFolderIconWrapper-hover: #3f3f3f;
$body-footer: #1f1f1f;
$headerTop: #181818;
$The-272727: #272727;
$The-181818: #181818;
$text-area-focus: #141414;
$lookFilled-colorBrand: rgb(29, 29, 29);
$lookFilled-colorBrand-hover: rgb(75, 75, 75);
$colorPrimary: #525252;
$colorPrimary-hover: rgb(59, 59, 59);
$lookOutlined: #414141;
$The-292929: #292929;
$The-555555: #555555;
$The-161616: #161616;
$perk-hover: rgb(65, 65, 65);
$perk-active: rgb(46, 46, 46);
$lookFilled-disabled: rgb(24, 24, 24);
$connectedAccount-hover: rgb(56, 56, 56);
$circleIconButton-selected: rgb(66, 66, 66);
$circleIconButton-active: rgb(122, 122, 122);
$The-82: rgb(82, 82, 82);
$The-58: rgb(58, 58, 58);
$The-126: rgb(126, 126, 126);
$subtitle: rgb(163, 163, 163);
$The-59: rgb(59, 59, 59);
$The-83: rgb(83, 83, 83);
$The-163: rgb(163, 163, 163);
$The-102: rgb(102, 102, 102);
$The-94: rgb(94, 94, 94);
$childWrapper-1j_1ub: rgb(124, 124, 124);
$The-92: rgb(92, 92, 92);
$The-85: rgb(85, 85, 85);
$The-49: rgb(49, 49, 49);
$The-48: rgb(48, 48, 48);
$The-34: rgb(34, 34, 34);
$ToolTip: rgb(51, 51, 51);

.theme-dark, :root {
    // Discordo
    --background-primary: #{$background-primary} !important;
    --background-secondary: #{$background-secondary} !important;
    --background-tertiary: #{$background-tertiary} !important;
    --background-text-area: #{$background-text-area} !important;
    --background-floating: #{$background-floating} !important;

    // I think these are accurate blurple recolors?
    --brand-500: #{$lookFilled-colorBrand}; // brand-500 seems to be used in buttons (like the buttons in the settings panel) which is what lookFilled-colorBrand is used for in ForgottenKeep
    --brand-560: #{$lookFilled-colorBrand-hover}; // brand-560 seems to be used when a button (like the buttons in the settings panel) is hovered which is what lookFilled-colorBrand-hover is used for in ForgottenKeep
    --white-500: #fff; // white-500 seems to set the color in buttons and that is what #fff is used for in ForgottenKeep

    // Our own variables (I think?)
    --scrollbar-auto-track: #{$scrollbar-auto-track};
    --scrollbar-auto-thumb: #{$scrollbar-auto-thumb};
    --container-hover: #{$container-hover};
    --container-active: #{$container-active};
    --container-avatar: #{$container-avatar};
    --layout-selected: #{$layout-selected};
    --searchBar-hover: #{$searchBar-hover};
    --searchBar-open: #{$searchBar-open};
    --scroller: #{$scroller};
    --spoilerText: #{$spoilerText};
    --spoilerText-hover: #{$spoilerText-hover};
    --uploadModal: #{$uploadModal};
    --footer: #{$footer};
    --selected-hover: #{$selected-hover};
    --selected-active: #{$selected-active};
    --expandedFolder: #{$expandedFolder};
    --closedFolder: #{$closedFolder};
    --closedFolderIconWrapper: #{$closedFolderIconWrapper};
    --peopleList: #{$peopleList};
    --actionButton-hover: #{$actionButton-hover};
    --feature-hover: #{$feature-hover};
    --childWrapper: #{$childWrapper};
    --searchBarCom-hover: #{$searchBarCom-hover};
    --expandedFolderIcon: #{$expandedFolderIcon};
    --expandedFolderIconWrapper-hover: #{$expandedFolderIconWrapper-hover};
    --body-footer: #{$body-footer};
    --headerTop: #{$headerTop};
    --The-272727: #{$The-272727};
    --The-181818: #{$The-181818};
    --text-area-focus: #{$text-area-focus};
    --lookFilled-colorBrand: #{$lookFilled-colorBrand};
    --lookFilled-colorBrand-hover: #{$lookFilled-colorBrand-hover};
    --colorPrimary: #{$colorPrimary};
    --colorPrimary-hover: #{$colorPrimary-hover};
    --lookOutlined: #{$lookOutlined};
    --The-292929: #{$The-292929};
    --The-555555: #{$The-555555};
    --The-161616: #{$The-161616};
    --perk-hover: #{$perk-hover};
    --perk-active: #{$perk-active};
    --lookFilled-disabled: #{$lookFilled-disabled};
    --connectedAccount-hover: #{$connectedAccount-hover};
    --circleIconButton-selected: #{$circleIconButton-selected};
    --circleIconButton-active: #{$circleIconButton-active};
    --The-82: #{$The-82};
    --The-58: #{$The-58};
    --The-126: #{$The-126};
    --subtitle: #{$subtitle};
    --The-59: #{$The-59};
    --The-83: #{$The-83};
    --The-163: #{$The-163};
    --The-102: #{$The-102};
    --The-94: #{$The-94};
    --childWrapper-1j_1ub: #{$childWrapper-1j_1ub};
    --The-92: #{$The-92};
    --The-85: #{$The-85};
    --The-49: #{$The-49};
    --The-48: #{$The-48};
    --The-34: #{$The-34};
    --ToolTip: #{$ToolTip};
}